[Desktop Entry]
Type=Application
Name=Browser
Name[zh_CN]=浏览器
Name[ja_JP]=ブラウザー
Name[es_ES]=Navegador
Name[pt_BR]=Navegador
Name[ko_KR]=브라우저
Name[de_DE]=Browser
Exec=browser --no-sandbox %U
Icon=browser
